body {
  margin: 0;
}
.container {
  border: 6px solid black;
  display: flex;
  /* flex-direction:column; */
  /* flex-flow:row-reverse wrap; */
  /* flex-wrap:wrap-reverse; */
  
  flex-wrap:wrap;
  height:800px;
  flex-direction: column;
  justify-content: space-evenly;
  
}
.flex-item {
  color: white;
  font-size: 1.5rem;
  padding: 1rem;
  text-align: center;
}
.item-1 {
  background-color: yellow;
}
.item-2 {
  background-color: red;
}
.item-3 {
  background-color: purple;
}
.item-4 {
  background-color: lightblue;
}
.item-5 {
  background-color: green;
}
.item-6 {
  background-color: pink;
}
.item-7 {
  background-color: orange;
}
.item-8 {
  background-color: goldenrod;
}
.item-9 {
  background-color: aqua;
}
